<html>
  <head>
    <title>Add Patients</title>
    <link rel="stylesheet" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

  </head>
  <body background="img/login.jpg">

    <div class="p-3 w-25 mb-2 bg-light">
      <div class="c">

        <center><h1>Add Patients</h1></center>
        <br /><br />

        <p>{{err}}</p>
        <form action="http://localhost:3000/newPatient" method="POST">
          Email
          <br />
          <input type="email" class="form-control" name="email" required />
          <br />
          Name

          <input type="text" class="form-control" name="name" required />
          <br />

          gender

          <input type="text" class="form-control" name="gender" required />
          <br />
          age

          <input type="number" class="form-control" name="age" required />
          <br />
          Phone

          <input type="text" class="form-control" name="phone" required />
          <br />
          Records

          <input type="text" class="form-control" name="Records" required />
          <br />

          <center><button
              type="submit"
              class="btn btn-dark btn-lg"
            >submit</button></center>
        </form>
      </div>
    </div>
  </body>
</html>